body {
    background-color: #2196f3;
}

#bathroomImage {
    width: 100%;
    margin-top: 3%;
}

.viewReviews {
    margin-left: 1%;
}


input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #333;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

#searchBathroom {
    margin-top: 2%;
}

#map {
        height: 400px;
        display: block;
      }


/*  this is for tablets */
@media screen and (max-width: 980px) and (min-width: 60px) and (-webkit-min-device-pixel-ratio: 2){
    
   
    
}





/*  this is for phones */
@media screen and (max-width: 600px) and (min-width: 250px) and (-webkit-min-device-pixel-ratio: 2){
    
    .locationCard {
        text-align: center;
    }
    
    .searchImage {
        margin-top: 2%;
        width: 280px;
    }
    
    .viewReviews {
    margin-left: 0%;
    margin-top: 2%;
}
}
